@model Web_truyen.ViewModel.ChangePasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Change Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="~/Assets/css/Style.css" rel="stylesheet" />
    <link href="~/Assets/css/Account.css" rel="stylesheet" />
</head>
<body>
    <div class="form-container">
        <a href="@Url.Action("Login", "Account")" class="back-icon">
            <i class="fas fa-arrow-left fa-2x"></i>
        </a>
        <h2>Change Password</h2>
        @if (!ViewData.ModelState.IsValid)
        {
            <ul class="text-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        }
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Username</label>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly" })
            </div>



            <div class="form-group">
                <label>New Password</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter new password" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", placeholder = "Confirm new password" })
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                <input type="submit" value="Submit" class="btn-submit" />
            </div>
        }
    </div>
</body>
</html>
