@model List<Web_truyen.Models.Truyen>
@{
    Layout = "~/Views/Share/_LayoutPage.cshtml";
    var currentFilter = (string)ViewBag.Filter ?? "tatca";
    var theLoaiId = (int?)ViewBag.TheLoaiId;
    var allTheLoai = ViewBag.AllTheLoai as List<Web_truyen.Models.TheLoai>;
}
<link href="~/Assets/css/AllBook.css" rel="stylesheet" />
<h2 class="text-center">@ViewBag.Title</h2>

<div class="filter-bar">
    <a class="filter-item @(currentFilter == "tatca" && theLoaiId == null ? "active" : "")" href="@Url.Action("AllBooks", new { filter = "tatca" })">Tất cả</a>
    <a class="filter-item @(currentFilter == "hot" ? "active" : "")" href="@Url.Action("AllBooks", new { filter = "hot" })">Truyện hot</a>
    <a class="filter-item @(currentFilter == "hoanthanh" ? "active" : "")" href="@Url.Action("AllBooks", new { filter = "hoanthanh" })">Hoàn thành</a>

    @foreach (var theLoai in allTheLoai)
    {
        <a class="filter-item @(theLoaiId == theLoai.TheLoaiId ? "active" : "")"
           href="@Url.Action("AllBooks", new { filter = "tatca", theLoaiId = theLoai.TheLoaiId })">
            @theLoai.TenTheLoai
        </a>
    }
</div>

<div class="grid-container">
    @foreach (var item in Model)
    {

        <div class="card">
            <img class="thumbnail" src="~/Assets/img/@item.AnhBia" />
            <div class="content">
                <h3 class="title">
                    <a href="@Url.Action("ChiTiet", "Truyen", new { area = "Admin", id = item.truyenId })">
                        @item.TieuDe
                    </a>
                </h3>
                <div class="stats">
                    <span class="likes">
                        <i class="fa-solid fa-heart"></i> @(ViewBag.YeuThichDict > 0 ? ViewBag.YeuThichDict.ToString() : 0)
                    </span>
                    <span class="comments">
                        <i class="fa-solid fa-comment-dots"></i> @(ViewBag.BinhLuanDict > 0 ? ViewBag.BinhLuanDict.ToString() : 0)
                    </span>
                    <span class="chapters">
                        <i class="fa-solid fa-book-open"></i> @(ViewBag.ChuongDict > 0 ? ViewBag.ChuongDict.ToString() : 0)
                    </span>
                </div>


                <p class="description">@item.MoTa</p>
                <button class="btn @(item.TrangThai ? "btn-complete" : "btn-inprogress")">
                    @(item.TrangThai ? "Hoàn thành" : "Đang viết")
                </button>
            </div>
        </div>
    }

</div>


