@using Web_truyen.App_Start

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
}
<link href="~/Assets/css/Home.css" rel="stylesheet" />
@section svg{
    @Html.Partial("~/Areas/Admin/Views/Shared/_Svg.cshtml")
}

<div class="container">
    @*<div class="slideshow-container">
            <div class="slide fade">
                <img src="~/Assets/Admin/img/img1.jpeg" alt="Ảnh 1" />
            </div>
            <div class="slide fade">
                <img src="~/Assets/Admin/img/img2.jpg" alt="Ảnh 2" />
            </div>
            <div class="slide fade">
                <img src="~/Assets/Admin/img/img3.jpg" alt="Ảnh 3">
            </div>
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>*@

    <aside class="sidebar right">
        <button class="post-story" onclick="location.href='@Url.Action("ThemMoi", "Truyen", new { area = "Admin" })'">
            <i class="fas fa-plus"></i>
            Đăng Truyện
        </button>
        <ul class="list_menu">
            <li>
                <a href="@Url.Action("Thuvien", "Thuvien", new { area = "" })">
                    <div class="icon-box">
                        <i class="fas fa-book"></i> <!-- Icon thư viện -->
                    </div>
                </a>
                <h4>Thư viện</h4>
            </li>

            <li>
                <a href="@Url.Action("TruyenCuaToi", "User", new { area = "", userId = SessionConfig.GetUser()?.userId })">
                    <div class="icon-box">
                        <i class="fas fa-pencil-alt"></i> <!-- Icon tác phẩm cá nhân -->
                    </div>
                </a>
                <h4>Truyện của tôi</h4>
            </li>
            <li>
                @if (SessionConfig.GetUser() != null)
                {
                    <a href="@Url.Action("HoSoCaNhan", "User", new { area = "Admin", userId = SessionConfig.GetUser().userId })">
                        <div class="icon-box">
                            <i class="fas fa-user-circle"></i> <!-- Icon hồ sơ người dùng -->
                        </div>
                    </a>
                    <h4>Profile</h4>
                }
                else
                {
                    <a href="@Url.Action("Login", "Account", new { area = "" })">
                        <div class="icon-box">
                            <i class="fas fa-user-circle"></i> <!-- Icon hồ sơ người dùng -->
                        </div>
                    </a>
                    <h4>Profile</h4>
                }
            </li>

        </ul>
    </aside>
</div>
<div class="main-layout">
    <div class="container_main">
        <!-- Truyện đang đọc -->
        @if (ViewBag.ReadingBooks != null)
        {
            <div class="section-title">Truyện bạn đang đọc:</div>
            <div class="carousel-wrapper">
                <button class="carousel-btn prev"><i class="fas fa-chevron-left"></i></button>

                <div class="carousel">
                    @foreach (var item in ViewBag.ReadingBooks)
                    {
                        <a href="@Url.Action("ChiTiet", "Truyen", new { area="Admin", id = item.truyenId })" class="book-card">
                            <div class="book-thumbnail">
                                <img src="~/Assets/img/@item.AnhBia" alt="@item.TieuDe" />
                            </div>
                            <div class="book-name">@item.TieuDe</div>
                        </a>
                    }
                </div>

                <button class="carousel-btn next"><i class="fas fa-chevron-right"></i></button>
            </div>
        }

        <div class="layout-row">
            <div class="main-column">
                <!-- Truyện mới -->
                <div class="section-title">Truyện mới</div>
                <div class="carousel-wrapper">
                    <button class="carousel-btn prev"><i class="fas fa-chevron-left"></i></button>

                    <div class="carousel">
                        @foreach (var item in ViewBag.NewBooks)
                        {
                            <a href="@Url.Action("ChiTiet", "Truyen", new { area="Admin", id = item.truyenId })" class="book-card">
                                <div class="book-thumbnail">
                                    <img src="~/Assets/img/@item.AnhBia" alt="@item.TieuDe" />
                                </div>
                                <div class="book-name">@item.TieuDe</div>
                            </a>
                        }
                    </div>

                    <button class="carousel-btn next"><i class="fas fa-chevron-right"></i></button>
                </div>

                <!-- Truyện đề xuất -->
                <div class="section-title">Truyện đề xuất</div>
                <div class="carousel-wrapper">
                    <button class="carousel-btn prev"><i class="fas fa-chevron-left"></i></button>

                    <div class="carousel">
                        @foreach (var item in ViewBag.Recommended)
                        {
                            <a href="@Url.Action("ChiTiet", "Truyen", new { area="Admin", id = item.truyenId })" class="book-card">
                                <div class="book-thumbnail">
                                    <img src="~/Assets/img/@item.AnhBia" alt="@item.TieuDe" />
                                </div>
                                <div class="book-name">@item.TieuDe</div>
                            </a>
                        }
                    </div>

                    <button class="carousel-btn next"><i class="fas fa-chevron-right"></i></button>
                </div>

                <!-- Truyện đã hoàn -->
                <div class="section-title">Truyện đã hoàn</div>
                <div class="carousel-wrapper">
                    <button class="carousel-btn prev"><i class="fas fa-chevron-left"></i></button>

                    <div class="carousel">
                        @foreach (var item in ViewBag.Completed)
                        {
                            <a href="@Url.Action("ChiTiet", "Truyen", new { area="Admin", id = item.truyenId })" class="book-card">
                                <div class="book-thumbnail">
                                    <img src="~/Assets/img/@item.AnhBia" alt="@item.TieuDe" />
                                </div>
                                <div class="book-name">@item.TieuDe</div>
                            </a>
                        }
                    </div>

                    <button class="carousel-btn next"><i class="fas fa-chevron-right"></i></button>
                </div>

                <!-- Gợi ý truyện -->
                <div class="section-title">Chúng tôi tin bạn sẽ thích</div>
                <div class="carousel-wrapper">
                    <button class="carousel-btn prev"><i class="fas fa-chevron-left"></i></button>

                    <div class="carousel">
                        @foreach (var item in ViewBag.Liked)
                        {
                            <a href="@Url.Action("ChiTiet", "Truyen", new { area="Admin", id = item.truyenId })" class="book-card">
                                <div class="book-thumbnail">
                                    <img src="~/Assets/img/@item.AnhBia" alt="@item.TieuDe" />
                                </div>
                                <div class="book-name">@item.TieuDe</div>
                            </a>
                        }
                    </div>

                    <button class="carousel-btn next"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>

        <div class="sidebar_right">
            <div class="sidebar_authors">
                <div class="section-title">Tác giả nổi bật</div>
                <ul class="author-list">
                    @foreach (var author in ViewBag.Authors)
                    {
                        <li class="author-item">
                            <a href="@Url.Action("HoSoCaNhan", "User", new { area="", useId = author.User.userId })">
                                <img src="~/Assets/img/@author.User.avt" alt="@author.User.Username">
                                <span> @author.User.Username</span>
                                <span>@author.FollowerCount</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="sidebar_hot">
                <!-- Tabs điều hướng -->
                <div class="hot-tabs">
                    <span class="tab-btn active" data-target="hot-week">Hot tuần</span>
                    <span class="tab-btn" data-target="hot-month">Hot tháng</span>
                </div>
                <div class="hot-section hot-week active">
                    <ul class="hot-list">
                        @foreach (var item in ViewBag.HotWeek)
                        {
                            <li class="hot-item">
                                <a href="@Url.Action("ChiTiet", "Truyen", new { area="Admin", id = item.truyenId })">
                                    <img src="~/Assets/img/@item.AnhBia" alt="@item.TieuDe" />
                                    <span class="ellipsis">@item.TieuDe</span>
                                    <span>@item.LuotDoc lượt</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <!-- Danh sách hot tháng -->
                <div class="hot-section hot-month">
                    <ul class="hot-list">
                        @foreach (var item in ViewBag.HotMonth)
                        {
                            <li class="hot-item">
                                <a href="@Url.Action("ChiTiet", "Truyen", new { area="Admin", id = item.truyenId })">
                                    <img src="~/Assets/img/@item.AnhBia" alt="@item.TieuDe" />
                                    <span class="ellipsis">@item.TieuDe</span>
                                    <span>@item.LuotDoc lượt</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>



    </div>
 </div>

<script src="~/Assets/js/Home.js"></script>
