<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="~/Assets/css/Style.css" rel="stylesheet" />
    <link href="~/Assets/css/Layout.css" rel="stylesheet" />
    <script src="~/Assets/js/Layout.js"></script>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    <header class="navbar">
        @{
            var vaiTro = Web_truyen.App_Start.SessionConfig.GetUser()?.VaiTro ?? "";
            var isAdmin = vaiTro.Equals("Admin", StringComparison.OrdinalIgnoreCase);
            var action = "Index";
            var controller = isAdmin ? "HomeAdmin" : "Home";
            var area = isAdmin ? "Admin" : "";
        }


        <div class="logo">
            <a href="@Url.Action(action, controller, new { area = area })">
                <img src="~/Assets/img/LogoWeb.png" alt="Logo" />
            </a>
        </div>

        <nav class="nav-links">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Danh sách <i class="fa-solid fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("AllBooks", "Home", new { filter = "tatca" })">Tất cả truyện</a></li>
                    <li><a href="@Url.Action("AllBooks", "Home", new { filter = "hot" })">Truyện hot</a></li>
                    <li><a href="@Url.Action("AllBooks", "Home", new { filter = "hoanthanh" })">Truyện hoàn thành</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Thể loại<i class="fa-solid fa-angle-down"></i></a>
                @Html.Action("Index", "TheLoai", new { area = "Admin" })
            </div>
        </nav>

        <div class="search-box">
            <input type="text" placeholder="Search yours book">
            <button><img src="~/Assets/img/search.png" alt="Search"></button>
        </div>
        @{
            var user = Web_truyen.App_Start.SessionConfig.GetUser();
        }
        @if (user == null)
        {
            <div class="auth-links">
                <a href="@Url.Action("Login", "Account", new {area=""})">Đăng nhập</a>
                <span>|</span>
                <a href="@Url.Action("Signup", "Account", new {area=""})">Đăng ký</a>
            </div>
        }
        else
        {
            <nav class="nav-links avt">
                <div class="user-info">
                    <p>Welcome back</p>
                    <h3>@user.Username</h3>
                </div>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle">
                        <img src="@(user.avt != null ? Url.Content("~/Assets/img/"+user.avt.ToString()) : Url.Content("~/Assets/img/user1.png"))" alt="Avatar" />
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Hồ sơ của tôi</a></li>
                        <li><a href="#">Cài đặt</a></li>
                        <li><a href="@Url.Action("Logout", "Account",new {area=""})">Đăng xuất</a></li>
                    </ul>
                </div>
            </nav>
        }
    </header>
    <div class="svg">
        @RenderSection("svg", false)
    </div>
    <div class="menu" id="menu">
        @RenderSection("top", false)
    </div>
    <div class="main-content">
        @RenderBody()
    </div>
    <footer>

    </footer>
</body>
</html>
