<link href="~/Assets/Admin/css/_MenuHead.css" rel="stylesheet" />
<div class="head">
    <a id="menu-toggle"><i class="fas fa-bars fa-2x"></i></a>
    <h2 class="text-center">@ViewBag.TitlePage</h2>
</div>

<div class="sidebar-menu" id="sidebarMenu">
    <ul>
        <li><a href="@Url.Action("Index", "Home", new { area = " " })" class="sidebar-link"><i class="fas fa-home"></i>Trang chủ</a></li>
        <li><a href="@Url.Action("Thuvien", "Thuvien", new { area = " " })" class="sidebar-link"><i class="fas fa-list-alt"></i>Thư viện</a></li>
        <li><a href="@Url.Action("TruyenCuaToi", "User", new { area = " " })" class="sidebar-link"><i class="fas fa-book"></i>Truyện của tôi</a></li>
        <li><a href="@Url.Action("HoSoCaNhan", "User", new { area = " " })" class="sidebar-link"><i class="fas fa-book"></i>Hồ sơ cá nhân</a></li>
    </ul>
</div>
<script src="~/Assets/Admin/js/_MenuHead.js"></script>
